<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Your ip. История запросов</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/resources/images/network_1989.png">
</head>
<body>
<div class="container-fluid">

  <h1>История запросов</h1>
  <hr class="my-4">

  <form action="/rq/view">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="items">Количество последних запросов:</label>
      <div class="col-sm-1">
        <input class="form-control" id="items" type="number" min="1" name="items"
               th:value="${items}"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="ip">IP:</label>
      <div class="col-sm-2">
        <input class="form-control" id="ip" type="text" name="ip" th:value="${ip}"/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary btn-sm">Обновить</button>
      </div>
    </div>

  </form>

  <hr class="my-4">

  <table class="table table-bordered table-sm" th:object="${requests}">
    <tr>
      <th>REQUEST</th>
      <th>HEADERS</th>
      <th>BODY</th>
    </tr>
    <tr th:each="req : ${requests}">
      <td>
        <table class="table-borderless table-sm">
          <tr><th>DATE:</th><td th:text="${req.date}"></td></tr>
          <tr><th>METHOD:</th><td th:text="${req.method}"></td></tr>
          <tr><th>IP:</th><td th:text="${req.ip}"></td></tr>
          <tr><th>URL:</th><td th:text="${req.fullUrl}"></td></tr>
          <tr><th>LOCALE:</th><td th:text="${req.locale}"></td></tr>
          <tr><th>PROTOCOL:</th><td th:text="${req.protocol}"></td></tr>
          <tr><th>ID:</th><td th:text="${req.id}"></td></tr>
        </table>
      </td>
      <td>
        <table class="table-borderless table-sm">
          <tr th:each="header : ${req.headers}">
            <th th:text="${header.key}"></th><td th:text="${header.value}"></td>
          </tr>
        </table>
      </td>
      <td><pre><code th:text="${req.body}"></code></pre></td>
    </tr>
  </table>
</div>
</body>
</html>
